<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form class="form-group" method="POST" action="/result">
  <table>
    <%for(var i =0;i<question.length;i++){%>
      <tr>
        <td><%=i+1%>. <%=question[i]%> <input type="checkbox" value="<%=(i+1)%6%>" name="answer[<%=i%>]"></td>
      </tr>
    <%}%>
    </table>
    <button>Submit</button>
  </form>
  </body>
</html>
